.book {
  display: flex;
  justify-content: space-around;

  &__img-buttons-container {
    flex: 0 0 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    a:link,
    a:visited {
      display: block;
      text-decoration: none;

      button {
        width: 100%; /* this is for the purchase button that's nested under an <a> */ 
        
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    flex: 1;
    border: 0;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;

    &-icon {
      fill: $color-dark-grey;
      flex: 0 0 2rem;
      margin-right: 1rem;
    }
  }

  &__description {
    flex: 2;

    &-separator {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-size: 4rem;
    line-height: 1.25;
    font-weight: 400;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 300;

  }

  &__data-name {
    font-weight: 700;
  }

  &__authors,
  &__categories,
  &__release-date,
  &__rating,
  &__number-of-pages,
  &__number-of-printed-pages {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
}