.card {
  display: flex;
  width: 80%;
  margin: 8rem auto;
  min-height: 50rem;
  border-radius: 3px;
  box-shadow: 0 .25rem .5rem rgba($color-black, .7);
  background-color: $color-light-grey;
  overflow: hidden;
}