.notification {

  display: flex;
  align-items: center;
  padding: .5rem .75rem;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem rgba($color-black, .5);
  margin-bottom: 2rem;

  &__icon {
    flex: 0 0 2rem;
    margin-right: .75rem;
  }

  &__message {
    flex: 1;
    font-size: 1.25rem;
  }

  &--success {
    background-color: #9ef01a;
    color: $color-dark-grey;
  }

  &--info {
    background-color: $color-primary;
    color: $color-light-grey;
  }

  &--failure {
    background-color: $color-secondary;
    color: $color-light-grey;
  }

  &--invisible {
    visibility: hidden;
  }
}