/* media queries */ 
$bp-largest: 56.25em; // 900px
$bp-large: 46.875em; // 750px
$bp-medium: 43.75em; // 700px
$bp-small: 37.5em; // 600px 
$bp-smallest: 31.25em; // 500px
$bp-tiny: 28.125em; // 450px

/* colors */ 
$color-black: #000;
$color-white: #fff;

$color-primary: #577399;
$color-primary-dark: #495867;
$color-primary-light: #BDD5EA;

$color-light-grey: #F7F7FF;

$color-dark-grey: #333;

$color-secondary: #FE5F55;
