/* colors */ 
$color-black: #000;
$color-white: #fff;

$color-primary: #577399;
$color-primary-dark: #495867;
$color-primary-light: #BDD5EA;

$color-light-grey: #F7F7FF;

$color-dark-grey: #333;

$color-secondary: #FE5F55;
